/* FTEX Documentation */

:root {
  --md-primary-fg-color: #1F4E79;
  --md-accent-fg-color: #2E75B6;
}

.md-typeset h1 {
  font-weight: 700;
}

.md-button--primary {
  background-color: var(--md-primary-fg-color) !important;
}
